<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazhu.crm.resourceleave.mapper.ResourceLeaveMapper">

	<select id="selectIdPage" resultType="java.lang.Long">
		select id from crm_resource_leave
		<where>
			<if test="cm.id != null and cm.id != ''">
				and id = #{cm.id}
			</if>
			<if test="cm.allotId != null and cm.allotId != ''">
				and allot_id = #{cm.allotId}
			</if>
			<if test="cm.flowId != null and cm.flowId != ''">
				and flow_id = #{cm.flowId}
			</if>
			<if test="cm.olFlowId != null and cm.olFlowId != ''">
				and old_flow_id = #{cm.olFlowId}
			</if>
			<if test="cm.name != null and cm.name != ''">
				and name like CONCAT('%',#{cm.name},'%')
			</if>
			<if test="cm.fromInfo != null and cm.fromInfo != ''">
				and from_info = #{cm.fromInfo}
			</if>
			<if test="cm.enterTime != null and cm.enterTime != ''">
				and TO_DAYS(enter_time) = TO_DAYS(#{cm.enterTime})
			</if>
			<if test="cm.md5Mobile != null and cm.md5Mobile != ''">
				and md5_mobile = #{cm.md5Mobile}
			</if>
			<if test="cm.fuzzyMobile != null and cm.fuzzyMobile != ''">
				and fuzzy_mobile = #{cm.fuzzyMobile}
			</if>
			<if test="cm.province != null and cm.province != ''">
				and province like CONCAT('%',#{cm.province},'%')
			</if>
			<if test="cm.city != null and cm.city != ''">
				and city like CONCAT('%',#{cm.city},'%')
			</if>
			<if test="cm.salerId != null">
				and saler_id = #{cm.salerId}
			</if>
			<if test="cm.salerName != null and cm.salerName != ''">
				and saler_name like CONCAT('%',#{cm.salerName},'%')
			</if>
			<if test="cm.managerId != null and cm.managerId != ''">
				and manager_id = #{cm.managerId}
			</if>
			<if test="cm.managerName != null and cm.managerName != ''">
				and manager_name = like CONCAT('%',#{cm.managerName},'%')
			</if>
			<if test="cm.directorId != null and cm.directorId != ''">
				and director_id = #{cm.directorId}
			</if>
			<if test="cm.directorName != null and cm.directorName != ''">
				and director_name like CONCAT('%',#{cm.directorName},'%')
			</if>
			<if test="cm.ministerId != null and cm.ministerId != ''">
				and minister_id = #{cm.ministerId}
			</if>
			<if test="cm.ministerName != null and cm.ministerName != ''">
				and minister_name like CONCAT('%',#{cm.ministerName},'%')
			</if>
			<if test="cm.remark != null and cm.remark != ''">
				and remark_ like CONCAT('%',#{cm.remark},'%')
			</if>
			<if test="cm.demand != null and cm.demand != ''">
				and demand like CONCAT('%',#{cm.demand},'%')
			</if>
			<if test="cm.createtime != null and cm.createtime != ''">
				and TO_DAYS(create_time) = TO_DAYS(#{cm.createtime})
			</if>
			<if test="cm.extractNum != null and cm.extractNum != ''">
				and extract_num = #{cm.extractNum}
			</if>
			<if test="cm.isTalk != null">
				and is_talk = #{cm.isTalk}
			</if>
		</where>
	</select>
	
	<select id="queryIdByMd5Mobile"  resultType="java.lang.Long">
		select id from crm_resource_leave where md5_mobile = #{md5Mobile}
	</select>
	
	<select id="queryExtractResource"  resultType="java.lang.Long">
		select id from crm_resource_leave 
			where flow_id = 901 and from_info != 'personal'
				and TO_DAYS(NOW()) - TO_DAYS(loss_time) > 2 
				ORDER BY extract_num asc,enter_time desc limit 10
	</select>
	
	<select id="queryExtractMobileResource"  resultType="java.lang.Long">
		select id from crm_resource_leave 
			where flow_id = 901 and from_info != 'personal'
				and TO_DAYS(NOW()) - TO_DAYS(loss_time) > 2 
				ORDER BY extract_num asc,enter_time desc limit #{spn}
	</select>
	
	<update id="syncRecycleRubbish">
		update crm_resource_leave set flow_id = 401 
			where flow_id = 901 
				and (remark_ like '%空号%')
	</update>
	
	
	<select id="remainExtractNum"  resultType="java.lang.Integer">
		select count(id) from crm_resource_leave 
			where flow_id = 901 and from_info != 'personal'
				and TO_DAYS(NOW()) - TO_DAYS(loss_time) > 2
	</select>
	
	<select id="queryToDayLoseResourceNum" resultType="java.lang.Integer">
		select count(id) from crm_resource_leave
			where TO_DAYS(loss_time) = TO_DAYS(NOW()) 
				and is_lose = 1
				and flow_id = 901
				and saler_id = #{userId}
	</select>
	
</mapper>
