<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazhu.sys.mapper.SysMenuMapper">
	<select id="selectIdPage" parameterType="java.util.Map" resultType="java.lang.Long">
		select id from sys_menu
		<where>
			enable_=1
			<if test="cm.parentId != null">
				and parent_id = #{cm.parentId}
			</if>
			<if test="cm.menuName != null and cm.menuName != ''">
				and menu_name like CONCAT('%',#{cm.menuName},'%')
			</if>
			<if test="cm.menuType != null and cm.menuType != ''">
				and menu_type = #{cm.menuType}
			</if>
		</where>
	</select>
	<select id="getPermissions" resultType="java.util.Map">
		select CONCAT(m.id, code_) as value, CONCAT(menu_name, code_text) as text
		from sys_menu m
		join sys_dic_index di on  di.key_='CRUD'
		join sys_dic d on d.index_id=di.id
		order by m.id
	</select>
</mapper>