<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazhu.crm.customerlog.mapper.CustomerLogMapper">

	<select id="selectIdPage" resultType="java.lang.Long">
		select id from crm_customer_log
		<where>
			<if test="cm.customerId != null and cm.customerId != ''">
				and CUSTOMER_ID = #{cm.customerId}
			</if>
			<if test="cm.customerName != null and cm.customerName != ''">
			    and CUSTOMER_NAME like concat(concat('%',#{cm.customerName}),'%')
			</if>
			<if test="cm.oldUser != null and cm.oldUser != ''">
				and OLD_USER = #{cm.oldUser}
			</if>
			<if test="cm.newUser != null and cm.newUser != ''">
				and NEW_USER = #{cm.newUser}
			</if>
			<if test="cm.oldFlow != null">
				and OLD_FLOW = #{cm.oldFlow}
			</if>
			<if test="cm.newFlow != null">
				and NEW_FLOW = #{cm.newFlow}
			</if>
			<if test="cm.type != null and cm.type != ''">
			    and TYPE like concat(concat('%',#{cm.type}),'%')
			</if>
			<if test="cm.ip != null and cm.ip != ''">
			    and IP like concat(concat('%',#{cm.ip}),'%')
			</if>
		</where>
	</select>
	
	<!-- 批量插入日志 -->
	<insert id="insertBatchCustomerLog" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO crm_customer_log (
	    customer_id,
	    customer_name,
	    old_user,
	    new_user,
	    old_flow,
	    new_flow,
	    type,
	    create_time,
	    update_time)
	    VALUES
	    <foreach collection="list" item="item" separator=",">
	        ( #{item.customerId},
	          #{item.customerName},
	          #{item.oldUser},
	          #{item.newUser},
	          #{item.oldFlow},
	          #{item.newFlow},
	          #{item.type},
	          #{item.createTime},
	          #{item.updateTime})
	    </foreach>
	</insert>
</mapper>
