<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>手机号明文申请表管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
</head>
<body>
<div id="app">
<input type="hidden" id="status" value="2"/>
<!---------------------------页头导航 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 10px 10px;">
        <el-col :span="8">
            <strong>手机号明文申请表管理</strong>
        </el-col>
    </el-row>
<!---------------------------页头导航 结束----------------------------------------------------------------------->
<!---------------------------查询面板 开始----------------------------------------------------------------------->
     <hr style="margin:0px ;"/>
    	<el-row style="margin:10px 10px 0px 10px;">
	       <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
				<el-form-item label="客户姓名" style="font-size: 13px;" prop="customerName">
			 		<el-input size="small" v-model="searchParams.customerName" placeholder="" ></el-input>
			 	</el-form-item>
	           <el-form-item>
	               <el-button size="small" type="info" @click="readList">查询</el-button>
	           </el-form-item>
	       </el-form>
	     </el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
     <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  stripe
                  max-height="450px"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
        >
            
            <el-table-column
                    prop="customerId"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="客户id"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="customerName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="客户姓名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="fuzzyMobile"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="掩码手机号"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="describe"
                    min-width="160"
                    v-bind:show-overflow-tooltip="true"
                    label="申请描述"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="applicantName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="申请人"
                    align="center"
                    >
                </el-table-column>
            
            
            <el-table-column
                    prop="auditReason"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="审核驳回原因"
                    align="center"
                    >
                </el-table-column>
            
            
            <el-table-column
                    prop="auditName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="审核人"
                    align="center"
                    >
                </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    align="center"
                    width="80">
                <template scope="scope">
                    <el-button-group size="small">
                        <el-button size="small" type="primary" @click="readDetail(scope.row.id)">详情</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="16" class="text-right">
        	<!-- 分页 -->
            <el-pagination ref="entityTablePage"
                           :current-page="pageData.current"
                           :page-sizes="[10, 50, 100]"
                           :page-size="pageData.size"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pageData.iTotalRecords"
                           @size-change="readList"
                           @current-change="readList"
            >
            </el-pagination>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
<!---------------------------弹出编辑窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editFormVisible">
        <el-form ref="editForm" :model="entity" :rules="rules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
    	<el-col :span="12">
        <el-form-item label="客户姓名" label-width="100px" prop="customerName">
    			<el-input size="small" v-model="entity.customerName" placeholder="" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="掩码手机号" label-width="100px" prop="fuzzyMobile">
    			<el-input size="small" v-model="entity.fuzzyMobile" placeholder="掩码手机号" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="申请描述（申请查看什么会员的手机掩码）" label-width="100px" prop="describe">
    			<el-input type="textarea" :rows="2" size="small" placeholder="申请描述（申请查看什么会员的手机掩码）" v-model="entity.describe"></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="申请人id" label-width="100px" prop="applicantId">
    		<el-input type="number" size="small" v-model="entity.applicantId" placeholder="申请人id" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="申请人" label-width="100px" prop="applicantName">
    			<el-input size="small" v-model="entity.applicantName" placeholder="申请人" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="申请理由" label-width="100px" prop="applyReason">
    			<el-input type="textarea" :rows="2" size="small" placeholder="申请理由" v-model="entity.applyReason"></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="审核驳回原因" label-width="100px" prop="auditReason">
    			<el-input type="textarea" :rows="2" size="small" placeholder="审核驳回原因" v-model="entity.auditReason"></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="审核通过时间" label-width="100px" prop="auditTime">
    		<el-date-picker type="datetime" size="small" placeholder="选择日期时间" v-model="entity.auditTime"></el-date-picker>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="审核人id" label-width="100px" prop="auditId">
    		<el-input type="number" size="small" v-model="entity.auditId" placeholder="审核人id" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="审核人姓名" label-width="100px" prop="auditName">
    			<el-input size="small" v-model="entity.auditName" placeholder="审核人姓名" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="申请审核状态  0---待审   1---通过   2--驳回   3--失效" label-width="100px" prop="status">
    		<el-input type="number" size="small" v-model="entity.status" placeholder="申请审核状态  0---待审   1---通过   2--驳回   3--失效" ></el-input>
        </el-form-item>
        </el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="save">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出详情窗口 开始----------------------------------------------------------------------->
    <el-dialog title="详情" :visible.sync="detailFormVisible">
        <el-form ref="detailForm" :model="entity" label-position="left">
            <el-col :span="12">
		    	<el-form-item label="客户id">
                	<span>{{ entity.customerId }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="客户姓名">
                	<span>{{ entity.customerName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="掩码手机号">
                	<span>{{ entity.fuzzyMobile }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="申请描述">
                	<span>{{ entity.describe }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="申请人">
                	<span>{{ entity.applicantName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="审核驳回原因">
                	<span>{{ entity.auditReason }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="审核人">
                	<span>{{ entity.auditName }}</span>
            	</el-form-item>
        	</el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="detailFormVisible = false">关闭</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出详情窗口 结束----------------------------------------------------------------------->
</div>
</body>
<script src="auditMobile.js"></script>
</html>