<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>配置表管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
</head>
<body>
<div id="app">
<!---------------------------查询面板 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
	    <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
		<el-form-item label="键" style="font-size: 13px;" prop="keyString">
			<el-input size="small" v-model="searchParams.keyString" placeholder="键" ></el-input>
		</el-form-item>
	        <el-form-item>
	            <el-button size="small" type="info" @click="readList">查询</el-button>
	        </el-form-item>
	    </el-form>
    </el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  border
                  stripe
                  max-height="456"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
        >
            
            <el-table-column
                    prop="name"
                    min-width="360"
                    align="left"
                    v-bind:show-overflow-tooltip="true"
                    label="名称"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="keyString"
                    min-width="240"
                    align="left"
                    v-bind:show-overflow-tooltip="true"
                    label="键"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="valueString"
                    min-width="50"
                    align="left"
                    v-bind:show-overflow-tooltip="true"
                    label="值"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="updateTime"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="更新时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.updateTime)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="remark"
                    min-width="200"
                    align="center"
                    v-bind:show-overflow-tooltip="true"
                    label="说明"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="updateTime"
                    min-width="200"
                    align="center"
                    v-bind:show-overflow-tooltip="true"
                    label="最后更新时间"
                    >
                </el-table-column>
                
            <el-table-column
                    label="操作"
                    width="100"
                    align="center">
                <template scope="scope">
                    <el-button-group size="small">
                        <el-button size="small" type="warning" @click="showEditDialog(scope.row.id)">编辑</el-button>
                        <el-button size="small" type="danger" @click="del(scope.row.id)">删除</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="8">
            <el-button size="small" type="info" @click="showAddDialog">新增</el-button>
        </el-col>
        <el-col :span="16" class="text-right">
        	<!-- 分页 -->
            <el-pagination ref="entityTablePage"
                           :current-page="pageData.current"
                           :page-sizes="[10, 50, 100]"
                           :page-size="pageData.size"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pageData.iTotalRecords"
                           @size-change="readList"
                           @current-change="readList"
            >
            </el-pagination>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
<!---------------------------弹出编辑窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editFormVisible">
        <el-form ref="editForm" :model="entity" :rules="rules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
    	<el-col :span="24">
        <el-form-item label="名称" label-width="100px" prop="name">
    			<el-input size="small" v-model="entity.name" placeholder="名称" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="键" label-width="100px" prop="keyString">
    			<el-input size="small" v-model="entity.keyString" placeholder="键" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="值" label-width="100px" prop="valueString">
    			<el-input  size="small" v-model="entity.valueString" placeholder="值"></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="说明" label-width="100px" prop="remark">
    			<el-input  size="small" v-model="entity.remark" placeholder="说明"></el-input>
        </el-form-item>
        </el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="save">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
</div>
</body>
<script type="text/javascript">
/**
*配置表管理
*/
var vuePage = new Vue({
    el: '#app',
    data: {
    	sourceUrl:"sys/properties",
        //是否显示编辑窗口
        editFormVisible: false,
        //查询参数
        searchParams: {keyString:''},
        //分页数据,其中包含分页信息与数据列表
        pageData: {},
        //当前操作的实体（编辑/新增）
        entity: {name:'',keyString:'',valueString:''},
        //表格中选中的行的集合
        selectDatas: [],
        //表单校验规则 api:https://github.com/yiminghe/async-validator
        rules: {
    		name: [
    		Vali.utf8mb4Len(false,128)
    	],
    		keyString: [
    		Vali.utf8mb4Len(false,50)
    	],
    		valueString: [
    		Vali.utf8mb4Len(false,1024)
    	],
        }
    },
    created: function () {
        var self = this;
        self.readList();
    },
    methods: {
        //查询
        readList: function () {
            var params = {
                asc: false,
                orderBy: "id",
                pageNum: (this.$refs.entityTablePage ? this.$refs.entityTablePage.internalCurrentPage : 1),
                pageSize: (this.$refs.entityTablePage ? this.$refs.entityTablePage.internalPageSize : 10)
            };
            //将查询条件合并到请求参数中
            for (var item in this.searchParams) {
            	if (typeof this.searchParams[item] == 'boolean'){
                    params[item] = this.searchParams[item];
                }else if (this.searchParams[item] != "") {
                    params[item] = this.searchParams[item];
                }
            }
            this.$http.put(this.sourceUrl+'/read/list', params)
                    .then(function (response) {
                        this.pageData = response.data;
                    });
        },
        //弹出新增窗口
        showAddDialog: function () {
            this.editFormVisible = true;
            for (var item in this.entity) {
                this.entity[item] = "";
            }
        },
        //弹出编辑窗口
        showEditDialog: function (entityId) {
            this.$http.put(this.sourceUrl+'/read/detail', {id: entityId})
                    .then(function (response) {
                        this.entity = response.data.data;
                        this.editFormVisible = true;
                    });
        },
        //保存
        save: function () {
            var self = this;
            self.$refs["editForm"].validate(function(valid){
                if (valid) {//校验通过
                    self.$http.post(self.sourceUrl, self.entity)
                            .then(function (response) {
                                var result = response.data.data;
                                self.editFormVisible = false;
                                if (self.entity.id) {//修改
                                    for (var i = 0; i < self.pageData.data.length; i++) {
                                        if (self.pageData.data[i].id === result.id) {
                                            Vue.set(self.pageData.data, i, result);
                                            break;
                                        }
                                    }
                                } else {
                                    self.pageData.data.unshift(result);
                                }
                            });
                } else {
                    self.$message({
                        message: '请按要求输入内容',
                        type: 'warning'
                    });
                    return false;
                }
            });

        },
        //删除
        del: function (entityIds) {
            var params = {};
            if (entityIds) {
                //删除单个实体
                if (entityIds instanceof Array) {
                    params.ids = entityIds;
                } else {//批量删除
                    params.ids = [entityIds];
                }
            }
            var self = this;
            self.$confirm('您确定要删除'+params.ids.length+'条记录吗?, 删除将无法恢复!', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(function () {
                self.$http.delete(self.sourceUrl, {body: params})
                        .then(function (response) {
                            var tempIndexArray = [];
                            //同步更新界面中的表格
                            for(var j in params.ids){
                                for(var i in self.pageData.data){
                                    if (self.pageData.data[i].id == params.ids[j]){
                                        self.pageData.data.splice(i,1);
                                        break;
                                    }
                                }
                            }
                        });
            }).catch(function(){});
        },
        //表格记录选择事件
        selectionChange: function (selection) {
            var self = this;
            self.selectDatas = selection;
        }
    }
});
</script>
</html>