<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
</head>
<body>
<div id="app">
<!---------------------------页头导航 开始----------------------------------------------------------------------->
    <el-row style="margin:20px 10px 20px 10px;">
    </el-row>
<!---------------------------页头导航 结束----------------------------------------------------------------------->
<!---------------------------查询面板 开始----------------------------------------------------------------------->
    <el-collapse accordion>
        <el-collapse-item title="查询面板[点击展开]">
            <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
	    		<el-form-item label="日期" style="font-size: 13px;" prop="costTime">
		    		<el-date-picker type="datetime" size="small" placeholder="选择日期时间" v-model="searchParams.costTime"></el-date-picker>
		    	</el-form-item>
	    		<el-form-item label="" style="font-size: 13px;" prop="channel">
		    		<el-input size="small" v-model="searchParams.channel" placeholder="" ></el-input>
		    	</el-form-item>
	    		<el-form-item label="推广人" style="font-size: 13px;" prop="executer">
		    		<el-input size="small" v-model="searchParams.executer" placeholder="推广人" ></el-input>
		    	</el-form-item>
	    		<el-form-item label="推广费" style="font-size: 13px;" prop="cost">
		    		<el-input size="small" v-model="searchParams.cost" placeholder="推广费" ></el-input>
		    	</el-form-item>
	    		<el-form-item label="总费用ID" style="font-size: 13px;" prop="costId">
		    		<el-input size="small" v-model="searchParams.costId" placeholder="总费用ID" ></el-input>
		    	</el-form-item>
                <el-form-item>
                    <el-button size="small" type="info" @click="readList">查询</el-button>
                </el-form-item>
            </el-form>
        </el-collapse-item>
    </el-collapse>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  stripe
                  max-height="450px"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
        >
            <el-table-column
                    type="selection"
                    prop="id"
                    align="center"
            >
            </el-table-column>
            
            <el-table-column
                    prop="costTime"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="日期"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="channel"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label=""
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="executer"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="推广人"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="cost"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="推广费"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="costId"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="总费用ID"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="170">
                <template scope="scope">
                    <el-button-group size="small">
                        <el-button size="small" type="warning" @click="showEditDialog(scope.row.id)">编辑</el-button>
                        <el-button size="small" type="danger" @click="del(scope.row.id)">删除</el-button>
                        <el-button size="small" type="primary" @click="readDetail(scope.row.id)">详情</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="8">
            <el-button size="small" type="info" @click="showAddDialog">新增</el-button>
            <el-button size="small" type="danger" @click="delBatch">批量删除</el-button>
        </el-col>
        <el-col :span="16" class="text-right">
        	<!-- 分页 -->
            <el-pagination ref="entityTablePage"
                           :current-page="pageData.current"
                           :page-sizes="[10, 50, 100]"
                           :page-size="pageData.size"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pageData.iTotalRecords"
                           @size-change="readList"
                           @current-change="readList"
            >
            </el-pagination>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
<!---------------------------弹出编辑窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editFormVisible" :size="typeof(_win._dialog_size)!='undefined'?_win._dialog_size:small">
        <el-form ref="editForm" :model="entity" :rules="rules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
    	<el-col :span="12">
        <el-form-item label="日期" label-width="100px" prop="costTime">
    		<el-date-picker type="datetime" size="small" placeholder="选择日期时间" v-model="entity.costTime"></el-date-picker>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="" label-width="100px" prop="channel">
    			<el-input size="small" v-model="entity.channel" placeholder="" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="推广人" label-width="100px" prop="executer">
    			<el-input size="small" v-model="entity.executer" placeholder="推广人" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="推广费" label-width="100px" prop="cost">
    		<el-input type="number" size="small" v-model="entity.cost" placeholder="推广费" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
        <el-form-item label="总费用ID" label-width="100px" prop="costId">
    		<el-input type="number" size="small" v-model="entity.costId" placeholder="总费用ID" ></el-input>
        </el-form-item>
        </el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="save">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出详情窗口 开始----------------------------------------------------------------------->
    <el-dialog title="详情" :visible.sync="detailFormVisible" :size="typeof(_win._dialog_size)!='undefined'?_win._dialog_size:small">
        <el-form ref="detailForm" :model="entity" label-position="left">
            <el-col :span="12">
		    	<el-form-item label="日期">
                	<span>{{ entity.costTime }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="">
                	<span>{{ entity.channel }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="推广人">
                	<span>{{ entity.executer }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="推广费">
                	<span>{{ entity.cost }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="12">
		    	<el-form-item label="总费用ID">
                	<span>{{ entity.costId }}</span>
            	</el-form-item>
        	</el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="detailFormVisible = false">关闭</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出详情窗口 结束----------------------------------------------------------------------->
</div>
</body>
<script src="channelCost.js"></script>
</html>