<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazhu.ad.channelcost.mapper.ChannelCostMapper">

	<select id="selectIdPage" resultType="java.lang.Long">
		select id from ad_channel_cost
		<where>
			<if test="cm.costTime != null and cm.costTime != ''">
				and cost_time = #{cm.costTime}
			</if>
			<if test="cm.channel != null and cm.channel != ''">
			    and channel like concat(concat('%',#{cm.channel}),'%')
			</if>
			<if test="cm.executer != null and cm.executer != ''">
			    and executer like concat(concat('%',#{cm.executer}),'%')
			</if>
			<if test="cm.cost != null and cm.cost != ''">
				and cost = #{cm.cost}
			</if>
			<if test="cm.costId != null and cm.costId != ''">
				and cost_id = #{cm.costId}
			</if>
		</where>
	</select>
	
	<select id="selectCostIdPage" resultType="com.lazhu.ad.channelcost.entity.ChannelCost">
		select a.* from (
			select c.id, d.code_ as channel, d.code_text as channelTxt , c.cost, c.cost_id from ad_channel_cost c RIGHT JOIN sys_dic d on c.channel = d.code_ where d.type_ = 'RESOURCE_CHANNEL' and c.cost_id = #{cm.costId}
			UNION all
			select null id, d.code_ as channel, d.code_text as channelTxt , null cost,null cost_id from sys_dic d where d.type_ = 'RESOURCE_CHANNEL'
		) a GROUP BY a.channel  ORDER BY cost desc 
	</select>
	
</mapper>
