<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!-- <script src="/js/lib/jquery.min.1.12.4.js"></script> -->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
    <style type="text/css">
	  .el-table .info-row {
	    background: #F66;
	  }
	</style>
</head>
<body>
<div id="app">
<!---------------------------页头导航 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 10px 10px;">
    </el-row>
<!---------------------------页头导航 结束----------------------------------------------------------------------->
    <!---------------------------查询面板 开始----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
    	<el-row style="margin:10px 10px 0px 10px;">
            <el-form :inline="true" :model="searchParams" label-position="right" style="margin: 6px" >
            	<el-row>
	    		<el-form-item label="提交日期开始" style="font-size: 13px;" prop="startTime">
		    		<el-date-picker type="date" size="small" @change="dayFormat1" placeholder="选择日期" v-model="searchParams.startTime"></el-date-picker>
		    	</el-form-item>
	    		<el-form-item label="提交日期结束" style="font-size: 13px;" prop="endTime">
		    		<el-date-picker type="date" size="small" @change="dayFormat2" placeholder="选择日期" v-model="searchParams.endTime"></el-date-picker>
		    	</el-form-item>
		    	<el-form-item label="手机号" style="font-size: 13px;" prop="mobile">
		    		<el-input style="width:120px;" size="small" v-model="searchParams.mobile" placeholder="手机号" ></el-input>
		    	</el-form-item>
		    	<el-form-item label="来源渠道" style="font-size: 13px;" prop="channel">
		    		<lz-dic-select style="width:100px;" dic-type="RESOURCE_CHANNEL" v-model="searchParams.channel"></lz-dic-select>
		    	</el-form-item>
		    	</el-row>
		    	<el-row>
		    	<el-form-item label="分配状态" style="font-size: 13px;" prop="type">
		    		<lz-dic-select style="width:200px;" dic-type="ALLOTTYPE" v-model="searchParams.type"></lz-dic-select>
		    	</el-form-item>
		    	<el-form-item label="开发流程" style="font-size: 13px;" prop="resourceFlow">
		    		<lz-dic-select style="width:100px;" dic-type="FLOW_CODE" v-model="searchParams.resourceFlow"></lz-dic-select>
		    	</el-form-item>
		    	<el-form-item label="执行人" label-width="100px" prop="executer">
		    		<lz-dic-select style="width:100px" dic-type="RESOURCE_OP1" v-model="searchParams.executer"></lz-dic-select>
		        </el-form-item>
                <el-form-item>
                    <el-button size="small" type="info" @click="readList">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button size="small" type="success" icon="document" @click="exportMd5">导出MD5手机号</el-button>
                </el-form-item>
                </el-row>
            </el-form>
		</el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  border
                  max-height="450px"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  :row-class-name="tableRowClassName"
        >
            
            <el-table-column
                    prop="executer"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="执行人"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="RESOURCE_OP" :dic-code="scope.row.executer"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="createrTime"
                    min-width="130"
                    v-bind:show-overflow-tooltip="true"
                    label="客户提交时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.createrTime)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="allotTime"
                    min-width="130"
                    v-bind:show-overflow-tooltip="true"
                    label="CRM分配时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.allotTime)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="name"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="姓名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="fuzzyMobile"
                    min-width="120"
                    v-bind:show-overflow-tooltip="true"
                    label="手机号"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="province"
                    min-width="120"
                    v-bind:show-overflow-tooltip="true"
                    label="区域"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{scope.row.province}}{{scope.row.city}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="keywords"
                    min-width="120"
                    v-bind:show-overflow-tooltip="true"
                    label="搜索关键词"
                    align="left"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="ip"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="IP地址"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="content"
                    min-width="500"
                    v-bind:show-overflow-tooltip="true"
                    label="内容"
                    align="left"
                    >
                    <template scope="scope">
                    	<span>{{contentFormat(scope.row.content)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="planCode"
                    min-width="220"
                    v-bind:show-overflow-tooltip="true"
                    label="专题名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="planName"
                    min-width="220"
                    v-bind:show-overflow-tooltip="true"
                    label="计划名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="sourceUrl"
                    min-width="300"
                    v-bind:show-overflow-tooltip="true"
                    label="来源地址"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="userAgent"
                    min-width="300"
                    v-bind:show-overflow-tooltip="true"
                    label="UserAgent浏览器"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="ministerName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="总经理"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="directorName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="总监"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="managerName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="经理"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="salerName"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="业务员"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
            		fixed="right"
                    prop="resourceFlow"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="开发流程"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="FLOW_CODE" :dic-code="scope.row.resourceFlow"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
            		fixed="right"
                    prop="channel"
                    min-width="120"
                    v-bind:show-overflow-tooltip="true"
                    label="渠道"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="RESOURCE_CHANNEL" :dic-code="scope.row.channel"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
            		fixed="right"
                    prop="phoneStatus"
                    min-width="120"
                    v-bind:show-overflow-tooltip="true"
                    label="号码状态"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="SMSCHECK" :dic-code="scope.row.phoneStatus"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
            		fixed="right"
                    prop="type"
                    min-width="160"
                    v-bind:show-overflow-tooltip="true"
                    label="分配状态"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="ALLOTTYPE" :dic-code="scope.row.type"></lz-dic-txt>
                	</template>
                </el-table-column>
                
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;float:right;">
        <el-col :span="16" class="text-right">
        	<!-- 分页 -->
            <el-pagination ref="entityTablePage"
                           :current-page="pageData.current"
                           :page-sizes="[10, 50, 100, 300, 500]"
                           :page-size="pageData.size"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pageData.iTotalRecords"
                           @size-change="readList"
                           @current-change="readList"
            >
            </el-pagination>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
</div>
</body>
<script type="text/javascript">
    var vuePage = new Vue({
        el: '#app',
        el: '#app',
		data: {
			sourceUrl: "t/resourceAllot",
			//查询参数
			searchParams: {
				tId: '',
				name: '',
				mobile: '',
				content: '',
				planName: '',
				planCode: '',
				sourceUrl: '',
				refererUrl: '',
				userAgent: '',
				executer: '',
				createrTime: '',
				channel: '',
				ip: '',
				smsCheck: '',
				phoneStatus: '',
				type: '',
				ministerId: '',
				directorId: '',
				managerId: '',
				salerName: '',
				startTime: '',
				endTime: '',
				allotTime1: '',
				allotTime2: '',
				resourceFlow:''
			},
			//分页数据,其中包含分页信息与数据列表
			pageData: {},
		},
		created: function() {
			var self = this;
			self.readList();
		},
        methods:{
        	//查询
			readList: function() {
				var params = {
					asc: false,
					orderBy: "creater_time",
					pageNum: (this.$refs.entityTablePage ? this.$refs.entityTablePage.internalCurrentPage : 1),
					pageSize: (this.$refs.entityTablePage ? this.$refs.entityTablePage.internalPageSize : 10)
				};
				//将查询条件合并到请求参数中
				for(var item in this.searchParams) {
					if(typeof this.searchParams[item] == 'boolean') {
						params[item] = this.searchParams[item];
					} else if(this.searchParams[item] != "") {
						params[item] = this.searchParams[item];
					}
				}
				this.$http.put(this.sourceUrl + '/read/list', params)
					.then(function(response) {
						this.pageData = response.data;
					});
			},
			contentFormat: function(v) {
				if(v == null || v == '' || typeof(v) == "undefined" || v <= 0) {
					return "";
				} else {
					var val = "";
					var obj = eval("(" + v + ")");
					for(var i in obj) {
						if (obj[i].value.indexOf('-') > 0 && obj[i].value.indexOf(':') > 0) {
							var lastIndex = obj[i].value.lastIndexOf(':');
							val += obj[i].key + "：" + obj[i].value.substring(0,lastIndex) + "；";
						} else {
							val += obj[i].key + "：" + obj[i].value + "；";
						}
					}
					return val;
				}
			},
			dayFormat1: function(val) {
				this.searchParams.startTime = val;
			},
			dayFormat2: function(val) {
				this.searchParams.endTime = val;
			},
			tableRowClassName : function (row, index) {
				if (row.signNum >= 1) {
					return 'info-row';
				}
                return '';
            },
			
			exportMd5 : function () {
				var str='';
			    for(var key in this.searchParams){
					if(!this.searchParams[key]==''){//判断为空就不传
						str= str+"&"+key+"=" + this.searchParams[key];
					}
			    }
				window.open(encodeURI('/t/resourceAllot/exportMd5Excel?'+str));
			},
			
        }
    });

</script>
</html>