<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
    <style type="text/css">
	  .el-table .info-row .el-table_1_column_6{
	    background: #F66;
	  }
	</style>
</head>
<body>
<div id="app">
<!---------------------------页头导航 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 10px 10px;">
    </el-row>
<!---------------------------页头导航 结束----------------------------------------------------------------------->
<!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="8">
            <el-button size="small" type="info" @click="product">立即刷新统计</el-button>
        </el-col>
    </el-row>
<!-- 表尾 结束-->
<!---------------------------查询面板 开始----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
    	<el-row style="margin:10px 10px 0px 10px;">
            <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
	    		<el-form-item label="产品名称" style="font-size: 13px;" prop="name">
		    		<el-input size="small" v-model="searchParams.name" placeholder="名称" ></el-input>
		    	</el-form-item>
	    		<el-form-item label="是否上架" style="font-size: 13px;" prop="isPutaway">
		    		<lz-dic-select style="width:100px;" v-model="searchParams.isPutaway" :dic-type="yesorno2"></lz-dic-select>
		    	</el-form-item>
                <el-form-item>
                    <el-button size="small" type="info" @click="readList">查询</el-button>
                </el-form-item>
            </el-form>
        </el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  border
                  highlight-current-row
                  max-height="456"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
                  :row-class-name="tableRowClassName"
                  @row-dblclick="orderList"
        >
            
            <el-table-column type="index" width="50" align="center"></el-table-column>
            
            <el-table-column
                    prop="code"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="产品编码"
                    align="center"
                    >
                </el-table-column> 
            
            <el-table-column
                    prop="name"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="产品名称"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="effectiveNum"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="客户数"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{nullFormat(scope.row.effectiveNum)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="signNum"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="订单数"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{nullFormat(scope.row.signNum)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="sumAmount"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="总缴费"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{roundFormat(scope.row.sumAmount)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="isPutaway"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="是否上架"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="YESORNO" :dic-code="scope.row.isPutaway"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
                    label="操作"
                    width="100"
                    align="center">
                <template scope="scope">
                    <el-button-group size="small">
                        <el-button size="small" type="success" @click="showEditDialog(scope.row.id)">编辑</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="8">
            <el-button size="small" type="info" @click="showAddDialog">新增</el-button>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
<!---------------------------弹出编辑窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editFormVisible">
        <el-form ref="editForm" :model="entity" :rules="rules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
        <el-col :span="24">
        <el-form-item label="产品编码" label-width="100px" prop="code">
    			<el-input size="small" style="width:170px;" v-model="entity.code" placeholder="产品名称" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="产品名称" label-width="100px" prop="name">
    			<el-input size="small" style="width:170px;" v-model="entity.name" placeholder="产品名称" ></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="12">
	   	<el-form-item label="是否上架" label-width="100px" prop="isPutaway">
		    <lz-dic-select v-model="entity.isPutaway" :dic-type="yesorno1"></lz-dic-select>
	   		<!-- <el-switch on-text="是" on-value="true" off-text="否" off-value="false" v-model="entity.isPutaway"></el-switch> -->
		</el-form-item>
		</el-col>
		<el-col :span="12">
		<el-form-item label="(下架后，将无法再购买该产品)" label-width="260px">
        
        </el-form-item>
        </el-col>
        <el-col :span="12">
	   	<el-form-item label="是否投顾" label-width="100px" prop="type">
		    <lz-dic-select v-model="entity.type" :dic-type="yesorno2"></lz-dic-select>
		</el-form-item>
		</el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="save">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出详情窗口 开始----------------------------------------------------------------------->
    <el-dialog title="详情" top="3%" :visible.sync="orderVisible">
		<el-row style="margin:10px 10px 0px 10px;">
		        <el-table id="12324"
		                  :data="orderPageData.data"
		                  ref="entityTable"
		                  border
		                  max-height="456"
		                  highlight-current-row
		                  row-key="id"
		                  empty-text="-"
		                  append="加载中..."
		                  :row-style="{'font-size':'13px'}"
		                  style="width: 100%"
		        >
		        
            	<el-table-column type="index" width="40" align="center"></el-table-column>
	            
	            <el-table-column
	                    prop="customerName"
	                    min-width="80"
	                    v-bind:show-overflow-tooltip="true"
	                    label="客户姓名"
	                    align="center"
	                    >
	                </el-table-column>
            
	            <el-table-column
	                    prop="insuranceId"
	                    min-width="100"
	                    v-bind:show-overflow-tooltip="true"
	                    label="产品名称"
	                    align="center"
	                    >
	                    <template scope="scope">
	                    	<lz-dic-txt dic-type="PRODUCT" :dic-code="scope.row.insuranceId"></lz-dic-txt>
	                	</template>
	                </el-table-column>
	                
	            <el-table-column
	                    prop="amount"
	                    min-width="80"
	                    v-bind:show-overflow-tooltip="true"
	                    label="缴费金额"
	                    align="center"
	                    >
	                </el-table-column>
	                
	            <el-table-column
	                    fixed="right"
	                    label="操作"
	                    width="90"
	                    align="center">
	                <template scope="scope">
	                    <el-button-group size="small">
	                        <el-button size="small" type="success" @click="showOrderEditDialog(scope.row.id)">编辑</el-button>
	                    </el-button-group>
	                </template>
	            </el-table-column>
	        </el-table>
	    </el-row>
    </el-dialog>
<!---------------------------弹出详情窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出编辑订单窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editOrderFormVisible">
        <el-form ref="editOrderForm" :model="orderEntity" :rules="rules">
        <el-input size="small" v-model="orderEntity.id" v-show="false" ></el-input>
    	<el-col :span="24">
        <el-form-item label="客户姓名" label-width="100px" prop="customerName">
        	<el-input size="small" style="width:360px" v-model="orderEntity.customerName" placeholder="客户姓名" :readonly="true"></el-input>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="产品名称" label-width="100px" prop="insuranceId">
        	<lz-dic-select v-model="orderEntity.insuranceId" :dic-type="product"></lz-dic-select>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="缴费金额" label-width="100px" prop="amount">
    			<el-input size="small" style="width:360px" v-model="orderEntity.amount" placeholder="缴费金额"></el-input>
        </el-form-item>
        </el-col>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editOrderFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="saveOrder">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑订单窗口 结束----------------------------------------------------------------------->
</div>
</body>
<script src="/business/policy/product/insuranceProduct.js"></script>
</html>