<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazhu.crm.alarm.mapper.AlarmMapper">

	<select id="selectIdPage" resultType="java.lang.Long">
		select id from crm_alarm
		<where>
			<if test="cm.resourceId != null and cm.resourceId != ''">
				and resource_id = #{cm.resourceId}
			</if>
			<if test="cm.userId != null and cm.userId != ''">
				and user_id = #{cm.userId}
			</if>
			<if test="cm.userName != null and cm.userName != ''">
			    and user_name like concat(concat('%',#{cm.userName}),'%')
			</if>
			<if test="cm.summary != null and cm.summary != ''">
			    and summary like concat(concat('%',#{cm.summary}),'%')
			</if>
			<if test="cm.content != null and cm.content != ''">
			    and content like concat(concat('%',#{cm.content}),'%')
			</if>
			<if test="cm.dingId != null and cm.dingId != ''">
			    and ding_id = #{cm.dingId}
			</if>
			<if test="cm.dingMsg != null and cm.dingMsg != ''">
			    and ding_msg like concat(concat('%',#{cm.dingMsg}),'%')
			</if>
			<if test="cm.isSend != null">
			    and is_send = #{cm.isSend}
			</if>
			<if test="cm.alarmTime != null">
			    and TO_DAYS(alarm_time) = TO_DAYS(#{cm.alarmTime})
			</if>
			<if test="cm.userGroup != null">
			    and user_group = #{cm.userGroup}
			</if>
			<if test="cm.isCall != null">
			    and is_call = #{cm.isCall}
			</if>
			<if test="cm.upgraderId != null and cm.upgraderId != ''">
				and user_id = #{cm.upgraderId}
			</if>
			<if test="cm.salerId != null and cm.salerId != ''">
				and user_id = #{cm.salerId}
			</if>
			<if test="cm.managerId != null and cm.managerId != ''">
				and manager_id = #{cm.managerId}
			</if>
			<if test="cm.directorId != null and cm.directorId != ''">
				and director_id = #{cm.directorId}
			</if>
		</where>
	</select>
	
	<select id="queryValid" resultType="java.lang.Long">
		select id from crm_alarm
			<where>
				is_send = 0 and enable_ = 1 
				<if test="cm.resourceId != null and cm.resourceId != ''">
					and resource_id = #{cm.resourceId}
				</if>
				<if test="cm.userId != null and cm.userId != ''">
					and user_id = #{cm.userId}
				</if>
			</where>
				order by alarm_time asc
	</select>
	
	<select id="queryAlarmByAlarmTime" resultType="java.lang.Long">
		select id from crm_alarm
			where is_send = 0 and enable_ = 1 
				and alarm_time &gt;= date_sub(NOW(),INTERVAL 10 MINUTE)
				and alarm_time &lt;= date_add(NOW(),INTERVAL 10 MINUTE)
			order by alarm_time desc
	</select>
	
	<select id="queryUserTodayNotCall" resultType="java.lang.Long">
		select id from crm_alarm
			where resource_id = #{customerId}
				and user_id = #{userId}
				and is_call = 0
				and TO_DAYS(alarm_time) = TO_DAYS(NOW())
	</select>
	
</mapper>
