<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>未接电话记录表管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
</head>
<body>
<div id="app">
<!---------------------------查询面板 开始----------------------------------------------------------------------->
<el-row style="margin:10px 10px 0px 10px;">
        <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
			<el-form-item label="呼入日期" style="font-size: 13px;" prop="nasStarttime">
		    	<el-date-picker type="date" size="small" placeholder="选择日期" @change="dayFormat" v-model="searchParams.nasStarttime"></el-date-picker>
		    </el-form-item>
            <el-form-item>
                <el-button size="small" type="info" @click="readList">查询</el-button>
            </el-form-item>
        </el-form>
</el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->
<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  border
                  max-height="450px"
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
        >
            <!-- <el-table-column type="index" width="52"></el-table-column> -->
            
            <el-table-column
                    prop="nasStarttime"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="呼入时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.nasStarttime)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="nasCallederid"
                    min-width="110"
                    v-bind:show-overflow-tooltip="true"
                    label="呼入号码"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="customerName"
                    min-width="90"
                    v-bind:show-overflow-tooltip="true"
                    label="客户姓名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="flowId"
                    min-width="90"
                    v-bind:show-overflow-tooltip="true"
                    label="开发流程"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="FLOW_CODE" :dic-code="scope.row.flowId"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="belong"
                    min-width="150"
                    v-bind:show-overflow-tooltip="true"
                    label="市场部归属"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="serverName"
                    min-width="70"
                    v-bind:show-overflow-tooltip="true"
                    label="客服"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="enterTime"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="入库时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.enterTime)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="nasLength"
                    min-width="90"
                    v-bind:show-overflow-tooltip="true"
                    label="呼入时长"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{timerFormat(scope.row.nasLength)}}</span>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="nasExtnumber"
                    min-width="80"
                    v-bind:show-overflow-tooltip="true"
                    label="分机号"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="nasPhonenumber"
                    min-width="90"
                    v-bind:show-overflow-tooltip="true"
                    label="分机号码"
                    align="center"
                    >
                </el-table-column>
                
			<el-table-column
                    fixed="right"
                    label="操作"
                    width="100"
                    align="center"
                    >
                <template scope="scope">
                	<el-button size="small" type="primary" @click="showCustomerDetails(scope.row.customerId)" v-if="isClub(scope.row.isClub)">客户详情</el-button>
                	<el-button size="small" type="success" @click="showResourceDetails(scope.row.customerId)" v-if="isResource(scope.row.isClub)">资源详情</el-button>
                </template>
            </el-table-column>
            
        </el-table>
    </el-row>
    <!-- 表尾 开始-->
    <el-row style="margin:10px 10px 0px 10px;float:right;">
        <el-col :span="16" class="text-right">
        	<!-- 分页 -->
            <el-pagination ref="entityTablePage"
                           :current-page="pageData.current"
                           :page-sizes="[10, 50, 100]"
                           :page-size="pageData.size"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pageData.iTotalRecords"
                           @size-change="readList"
                           @current-change="readList"
            >
            </el-pagination>
        </el-col>
    </el-row>
    <!-- 表尾 结束-->
<!---------------------------数据表格 结束----------------------------------------------------------------------->
<!---------------------------弹出资源详情窗口 开始----------------------------------------------------------------------->
<el-dialog title="资源详情" size="large" top="2%" :before-close="handleClose" :visible.sync="resourceVisible">
    <el-row>
    <el-col :span="16">
    	<el-row>
        <el-form ref="resourceDetailForm" :model="resourceEntity" label-position="left">
            <el-row>
        		<el-tag type="success">
        			<lz-dic-txt dic-type="RESOURCE_CHANNEL" :dic-code="resourceEntity.fromInfo"></lz-dic-txt>
        		</el-tag>
        		<el-tag type="primary">{{ demandFormat(resourceEntity.planCode) }}</el-tag>
        	</el-row>
        	<el-row>
            	<el-tag type="danger">{{ demandFormat(resourceEntity.demand) }}</el-tag>
        	</el-row>
            <el-col :span="8">
		    	<el-form-item label="姓名：" label-width="80px" prop="name">
    				<el-input style="width:100px;" size="small" v-model="resourceEntity.name" placeholder="客户姓名" ></el-input>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
            	<el-form-item label="手机号：" label-width="80px" prop="mobile">
    				<span>{{resourceEntity.fuzzyMobile}}</span>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="区域：">
                	<span>{{ resourceEntity.province }} - {{ resourceEntity.city }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
            	<el-form-item label="职业：" label-width="80px" prop="duty">
    				<el-input style="width:100px;" size="small" v-model="resourceEntity.duty" placeholder="职业" ></el-input>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
        		<el-form-item label="性别：" label-width="80px" prop="sex">
    			<lz-dic-select style="width:100px;" v-model="resourceEntity.sex" dic-type="SEX"></lz-dic-select>
        		</el-form-item>
        	</el-col>
        	<el-col :span="8">
            	<el-form-item label="年龄：" label-width="80px" prop="age">
    				<el-input type="number" style="width:100px;" size="small" v-model="resourceEntity.age" placeholder="年龄" ></el-input>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="总监：">
                	<span>{{ resourceEntity.directorName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="经理：">
                	<span>{{ resourceEntity.managerName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="业务员：">
                	<span>{{ resourceEntity.salerName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="23">
                <el-form-item label="市场部备注：">
	                <el-input type="textarea" :rows="5" size="small" placeholder="市场部备注" v-model="resourceEntity.remark"></el-input>
	            </el-form-item>
        	</el-col>
        </el-form>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center" style="margin-top:10px;">
				<el-button size="large" type="info"  @click="updateResourceSave">保存客户信息</el-button>
		</el-row>
        </el-col>
        <el-col :span="8">
        	<el-card class="box-card">
		    <el-row>
        	<el-form ref="salerRecordForm" :model="salerRecordEntity1" >
        		<el-col :span="12">
        			<el-button style="margin:0 0 10px 22px" size="large" type="success" :disabled="callDisable" @click="detailsCall">拨打电话</el-button>
        		</el-col>
        		<el-col :span="12">
        			<el-button style="margin:0 0 10px 22px" size="large" type="danger" @click="topdrop">挂断电话</el-button>
        		</el-col>
		        <el-col :span="24">
		        <el-form-item label="服务类型：" prop="type">
		             <el-radio-group v-model="salerRecordEntity1.type">
				    	<el-radio label="0">未接通</el-radio>
						<el-radio label="1">已接通</el-radio>
		  			</el-radio-group>
		        </el-form-item>
		        </el-col>
		    	<el-col :span="24">
		        <el-form-item label="通话时长：" prop="timeLength">
		             <span>{{ timerFormat(salerRecordEntity1.timeLength) }}</span>
		        </el-form-item>
		        </el-col>
		    	<el-col :span="24">
		        <el-form-item label="通话内容：">
		    		<el-input type="textarea" :rows="5" size="small" placeholder="请填写本次通话记录" v-model="salerRecordEntity1.serverRecord"></el-input>
		        </el-form-item>
		        </el-col>
        	</el-form>
	        </el-row>
	        <el-row type="flex" class="row-bg" justify="center" style="margin-top:10px;">
	    		<el-button size="small" type="warning" @click="alarm()">下次通话提醒</el-button>
				<el-button size="small" type="info" :disabled="showSaveButton"  @click="detailsSaveRecord">保存通话记录</el-button>
			</el-row>
	        </el-card>
        </el-col>
        </el-row>
        <el-row style="margin-top:10px">
        <el-tabs v-model="activeName" type="border-card">
    		<el-tab-pane label="通话记录" name="record2">
    			<span slot="label" @click="flushSalerRecord">通话记录</span>
				<el-table height="178" :data="salerRecordEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="serverName" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="业务员" align="center"></el-table-column>
					<el-table-column prop="type" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="是否接通" align="center">
						<template scope="scope">
							<lz-dic-txt dic-type="YESORNO" :dic-code="scope.row.type"></lz-dic-txt>
						</template>
					</el-table-column>
					<el-table-column prop="serverRecord" min-width="320" v-bind:show-overflow-tooltip="true" 
						label="通话内容" align="center"></el-table-column>
					<el-table-column prop="callFile" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="录音文件" align="center" >
							<template scope="scope">
                    			<a :href="fptFormat(scope.row.callFile)">{{recordExist(scope.row.callFile)}}</a>
                			</template>
						</el-table-column>
					<el-table-column prop="timeLength" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="通话时长" align="center" >
							<template scope="scope">
                    			<span>{{timerFormat(scope.row.timeLength)}}</span>
                			</template>
						</el-table-column>
					<el-table-column prop="createTime" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
  		</el-tabs>
  		</el-row>
    </el-dialog>
<!---------------------------弹出资源详情窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出会员详情窗口 开始----------------------------------------------------------------------->
<el-dialog title="会员详情" size="large" top="3%" :visible.sync="customerVisible">
	<el-row>
    <el-col :span="16">
    	<el-row>
        <el-form ref="customerDetailForm" :model="resourceEntity" label-position="left">
            <el-col :span="8">
		    	<el-form-item label="姓名：" label-width="80px">
    				<span>{{ resourceEntity.name }}</span>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
            	<el-form-item label="手机号：" label-width="80px">
					<span>{{ resourceEntity.fuzzyMobile }}</span>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="区域：">
                	<span>{{ resourceEntity.province }} - {{ resourceEntity.city }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
            	<el-form-item label="职业：" label-width="80px" prop="duty">
    				<el-input style="width:100px;" size="small" v-model="resourceEntity.duty" placeholder="职业" ></el-input>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
        		<el-form-item label="性别：" label-width="80px" prop="sex">
    			<lz-dic-select style="width:100px;" v-model="resourceEntity.sex" dic-type="SEX"></lz-dic-select>
        		</el-form-item>
        	</el-col>
    		<el-col :span="8">
            	<el-form-item label="年龄：" label-width="80px" prop="age">
    				<el-input type="number" style="width:100px;" size="small" v-model="resourceEntity.age" placeholder="年龄" ></el-input>
        		</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="总监：">
                	<span>{{ resourceEntity.directorName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="经理：">
                	<span>{{ resourceEntity.managerName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="业务员：">
                	<span>{{ resourceEntity.salerName }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="23">
                <el-form-item label="客服部备注：">
	                <el-input type="textarea" :rows="6" size="small" placeholder="客服部备注" v-model="resourceEntity.serverRemark"></el-input>
	            </el-form-item>
        	</el-col>
        </el-form>
        </el-row>
		<el-row type="flex" class="row-bg" justify="center" style="margin-top:10px;">
			<el-button style="margin-top:8px" size="large" type="info"  @click="updateCustomerSave">保 存 客 户 信 息</el-button>
		</el-row>
        </el-col>
        <el-col :span="8">
        	<el-card class="box-card">
		    <el-row>
        	<el-form ref="salerRecordForm" :model="salerRecordEntity1" >
        		<el-col :span="12">
        			<el-button style="margin:0 0 10px 22px" size="large" type="success" :disabled="callDisable" @click="detailsCall">拨打电话</el-button>
        		</el-col>
        		<el-col :span="12">
        			<el-button style="margin:0 0 10px 22px" size="large" type="danger" @click="topdrop">挂断电话</el-button>
        		</el-col>
		        <el-col :span="24">
		        <el-form-item label="服务类型：" prop="type">
		             <el-radio-group v-model="salerRecordEntity1.type">
				    	<el-radio label="0">未接通</el-radio>
						<el-radio label="1">已接通</el-radio>
		  			</el-radio-group>
		        </el-form-item>
		        </el-col>
		    	<el-col :span="24">
		        <el-form-item label="通话时长：" prop="timeLength">
		             <span>{{ timerFormat(salerRecordEntity1.timeLength) }}</span>
		        </el-form-item>
		        </el-col>
		    	<el-col :span="24">
		        <el-form-item label="通话内容：">
		    		<el-input type="textarea" :rows="4" size="small" placeholder="请填写本次通话记录" v-model="salerRecordEntity1.serverRecord"></el-input>
		        </el-form-item>
		        </el-col>
        	</el-form>
	        </el-row>
        	<el-row type="flex" class="row-bg" justify="center" style="margin-top:10px;">
				<el-button style="margin-top:12px" size="small" type="info" :disabled="showSaveButton"  @click="detailsSaveRecord">保存通话记录</el-button>
			</el-row>
	        </el-card>
        </el-col>
        </el-row>
        <el-row style="margin-top:10px">
        <el-tabs v-model="activeName" type="border-card">
    		<el-tab-pane label="订单记录" name="apply1">
				<el-table height="178" :data="applyEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="createTime" min-width="120" v-bind:show-overflow-tooltip="true" 
						label="投保时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{birthdayFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
					<el-table-column prop="relation" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="家庭关系" align="center">
						<template scope="scope">
                    		<lz-dic-txt dic-type="RELATION" :dic-code="scope.row.relation"></lz-dic-txt>
                		</template>
					</el-table-column>
					<el-table-column prop="insurederName" min-width="90" v-bind:show-overflow-tooltip="true" 
						label="被保人" align="center"></el-table-column>
					<el-table-column prop="insurederAge" min-width="120" v-bind:show-overflow-tooltip="true" 
						label="被保人年龄" align="center">
						<template scope="scope">
                    		<span>{{ageFormat(scope.row.insurederAge)}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="insuranceName" min-width="156" v-bind:show-overflow-tooltip="true" 
						label="产品名称" align="center"></el-table-column>
					<el-table-column prop="amount" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="缴费金额" align="center">
						<template scope="scope">
                    		<span>{{rmbFormat(scope.row.amount)}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="amountTerm" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="缴费年限" align="center">
						<template scope="scope">
                    		<span>{{yearFormat(scope.row.amountTerm)}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="insuranceLimit" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="保障额度" align="center">
						<template scope="scope">
                    		<span>{{rmbwFormat(scope.row.insuranceLimit)}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="companyId" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="保险公司" align="center">
						<template scope="scope">
                    		<lz-dic-txt dic-type="COMPANY" :dic-code="scope.row.companyId"></lz-dic-txt>
                		</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
			<el-tab-pane label="市场通话记录" name="record1">
    			<span slot="label" @click="flushSalerRecord">市场通话记录</span>
				<el-table height="178" :data="salerRecordEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="serverName" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="业务员" align="center"></el-table-column>
					<el-table-column prop="type" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="是否接通" align="center">
						<template scope="scope">
							<lz-dic-txt dic-type="YESORNO" :dic-code="scope.row.type"></lz-dic-txt>
						</template>
					</el-table-column>
					<el-table-column prop="serverRecord" min-width="320" v-bind:show-overflow-tooltip="true" 
						label="通话内容" align="center"></el-table-column>
					<el-table-column prop="callFile" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="录音文件" align="center" >
							<template scope="scope">
                    			<a :href="fptFormat(scope.row.callFile)">{{recordExist(scope.row.callFile)}}</a>
                			</template>
						</el-table-column>
					<el-table-column prop="timeLength" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="通话时长" align="center" >
							<template scope="scope">
                    			<span>{{timerFormat(scope.row.timeLength)}}</span>
                			</template>
						</el-table-column>
					<el-table-column prop="createTime" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
			<el-tab-pane label="客服通话记录" name="record2">
    			<span slot="label" @click="flushServerRecord">客服通话记录</span>
				<el-table height="178" :data="serverRecordMobileEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="serverName" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="客服" align="center"></el-table-column>
					<el-table-column prop="type" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="是否接通" align="center">
						<template scope="scope">
							<lz-dic-txt dic-type="YESORNO" :dic-code="scope.row.type"></lz-dic-txt>
						</template>
					</el-table-column>
					<el-table-column prop="serverRecordMobile" min-width="320" v-bind:show-overflow-tooltip="true" 
						label="通话内容" align="center"></el-table-column>
					<el-table-column prop="callFile" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="录音文件" align="center" >
							<template scope="scope">
                    			<a :href="fptFormat(scope.row.callFile)">{{recordExist(scope.row.callFile)}}</a>
                			</template>
						</el-table-column>
					<el-table-column prop="timeLength" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="通话时长" align="center" >
							<template scope="scope">
                    			<span>{{timerFormat(scope.row.timeLength)}}</span>
                			</template>
					</el-table-column>
					<el-table-column prop="createTime" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
    		<el-tab-pane label="退保记录" name="refund1">
				<el-table height="178" :data="refundEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="refundMoney" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="金额"></el-table-column>
					<el-table-column prop="remark" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="备注"></el-table-column>
					<el-table-column prop="dealerStatus" min-width="50" v-bind:show-overflow-tooltip="true"
                    	label="状态">
						<template scope="scope">
							<lz-dic-txt dic-type="STATUS" :dic-code="scope.row.dealerStatus"></lz-dic-txt>
						</template>
					</el-table-column>
					<el-table-column prop="createTime" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="时间" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
    		<el-tab-pane label="理赔记录" name="compensation1">
				<el-table height="178" :data="compensationEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="refundMoney" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="金额"></el-table-column>
					<el-table-column prop="remark" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="备注"></el-table-column>
					<el-table-column prop="dealerStatus" min-width="50" v-bind:show-overflow-tooltip="true"
                    	label="状态">
						<template scope="scope">
							<lz-dic-txt dic-type="STATUS" :dic-code="scope.row.dealerStatus"></lz-dic-txt>
						</template>
					</el-table-column>
					<el-table-column prop="createTime" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="时间" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
  		</el-tabs>
	</el-row>
</el-dialog>
<!---------------------------弹出会员详情窗口 结束----------------------------------------------------------------------->
<el-dialog :visible.sync="alarmVisible">
	<el-row>
    	<el-form ref="alarmForm" :model="alarmEntity" label-position="left">
	    	<el-col :span="24">
				<el-form-item label="提醒时间：" prop="alarmTime">
					<el-date-picker style="width:180px;" v-model="alarmEntity.alarmTime" type="datetime" placeholder="选择日期时间" align="right" :picker-options="pickerOptions1">
				</el-form-item>
	    	</el-date-picker>
			</el-col>
	    	<el-col :span="24">
				<el-form-item label="提醒内容：" prop="content">
					<el-input type="textarea" :rows="6" size="small" placeholder="提醒内容" v-model="alarmEntity.content"></el-input>
				</el-form-item>
			</el-col>
    	</el-form>
    	</el-row>
    	<el-row type="flex" class="row-bg" justify="center" style="margin-top:10px;">
			<el-button style="margin-top:12px" size="small" type="info"  @click="alarmSave">保存</el-button>
		</el-row>
		<el-table height="178" :data="alarmList" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
			<el-table-column type="index" width="50"></el-table-column>
			<el-table-column prop="content" min-width="260" v-bind:show-overflow-tooltip="true" 
				label="提醒内容" align="left"></el-table-column>
			<el-table-column prop="alarmTime" min-width="120" v-bind:show-overflow-tooltip="true" 
				label="提醒时间" align="center" sortable>
					<template scope="scope">
                		<span>{{monthMinuteFormat(scope.row.alarmTime)}}</span>
            		</template>
			</el-table-column>
			<el-table-column min-width="80" label="操作" align="center" >
				<template scope="scope">
                    <el-button-group size="small">
						<el-button size="small" type="danger"  @click="alarmDel(scope.row.id)">删除</el-button>
					</el-button-group>
				</template>
			</el-table-column>
		</el-table>
    </el-dialog>
</div>
<input type="hidden" id="status" name="status" />
<input type="hidden" id="callFile" name="callFile" />
<script type="text/javascript">
	function G (id,val) {
		var obj = document.getElementById(id);
		obj.value = val;
	};
	
	/**
     * 接收电话状态通知
     * @param data
     */
    var notifyPhoneStatus = function(data){
        //处理逻辑
        //接收到电话状态
        var event=data.event;
        //根据不同事件类型进行处理
        switch(event)
        {
            case "OnAnswered" :
                console.log("收到状态通知:"+event);
                if (data.direct == "out") {
        			console.log("对方应答...","  录音:" + data.file + ",时间：" + data.dt );
        		} else {
        			console.log("我方应答...","  录音:" + data.file + ",时间：" + data.dt );
        		}
                G("callFile",data.file);
        		//通话开始
        		G("status",1);
                break;
            case "OnHangUp" :
                console.log("收到状态通知:"+event);
                if (data.direct == "out") {
        			console.log("对方挂机...","  就绪:" + (data.sta == "1" ? "空闲" : "置忙") + "时间：" + data.dt );
        		} else {
        			console.log("我方挂机...","  就绪:" + (data.sta == "1" ? "空闲" : "置忙") + "时间：" + data.dt );
        		}
        		//通话结束
        		G("status",2);
                break;
            default:
                console.log("收到（摘机/挂机）外其他状态通知:"+event);
        }
    }
</script>
</body>
<script src="/business/call/noAnswerSalerCall.js"></script>
</html>