<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
    <title>管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/eui.1.3.0.css">
    <link rel="stylesheet" href="/css/bootstrap.3.3.7.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/docs.css">-->
    <!--<script src="js/jquery.min.1.12.4.js"></script>-->
    <script src="/js/lib/vue.2.3.2.js"></script>
    <script src="/js/lib/vuex.2.3.1.js"></script>
    <script src="/js/lib/vue-resource.1.3.1.js"></script>
    <script src="/js/lib/eui.1.3.0.js"></script>
    <script src="/js/lib/vue-html5-editor.js"></script>
    <script src="/js/lib/common.js"></script>
    <script src="/js/lib/vue-component-dic.js"></script>
</head>
<body>
<div id="app">
<!---------------------------页头导航 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 10px 10px;">
    </el-row>
<!---------------------------页头导航 结束----------------------------------------------------------------------->
<!-- 页眉 开始-->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-col :span="8">
            <el-button size="small" type="warning" @click="showAllotDialog">审核并分配</el-button>
        </el-col>
    </el-row>
<!-- 页眉 结束-->
<!---------------------------查询面板 开始----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
    	<el-row style="margin:10px 10px 0px 10px;">
            <el-form :inline="true" :model="searchParams" label-position="right" style="margin-bottom: 0px" >
	    		<el-form-item label="客户姓名" style="font-size: 13px;" prop="customerName">
		    		<el-input style="width:100px;" size="small" v-model="searchParams.customerName" placeholder="客户姓名" ></el-input>
		    	</el-form-item>
	    		<el-form-item label="手机号码" style="font-size: 13px;" prop="mobile">
		    		<el-input style="width:100px;" size="small" v-model="searchParams.mobile" placeholder="手机号" ></el-input>
		    	</el-form-item>
                <el-form-item>
                    <el-button size="small" type="info" @click="readList">查询</el-button>
                </el-form-item>
            </el-form>
        </el-row>
<!---------------------------查询面板 结束----------------------------------------------------------------------->

<!---------------------------数据表格 开始----------------------------------------------------------------------->
    <el-row style="margin:10px 10px 0px 10px;">
        <el-table id="12324"
                  :data="pageData.data"
                  ref="entityTable"
                  border
                  stripe
                  max-height="456"
                  highlight-current-row
                  row-key="id"
                  empty-text="-"
                  append="加载中..."
                  :row-style="{'font-size':'13px'}"
                  style="width: 100%"
                  @selection-change="selectionChange"
                  @row-dblclick="readDetail"
        >
            
          	<el-table-column
          			fixed="left"
                    type="selection"
                    prop="id"
                    width="40"
                    align="center"
            >
            </el-table-column>
            
            <el-table-column
            		fixed="left"
                    prop="startDate"
                    min-width="80"
                    v-bind:show-overflow-tooltip="true"
                    label="服务天数"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{dateDiffFormat(scope.row.startDate,scope.row.endDate)}}</span>
                	</template>
                </el-table-column>
                
            <el-table-column
                    prop="insureNum"
                    min-width="80"
                    v-bind:show-overflow-tooltip="true"
                    label="第几次签单"
                    align="center"
                    >
                </el-table-column>
                
            <el-table-column
                    prop="belong"
                    min-width="230"
                    v-bind:show-overflow-tooltip="true"
                    label="市场部归属"
                    align="center"
                    >
                </el-table-column>
                
            <el-table-column
                    prop="customerName"
                    min-width="80"
                    v-bind:show-overflow-tooltip="true"
                    label="客户姓名"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="insuranceId"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="产品名称"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="ALLPRODUCT" :dic-code="scope.row.insuranceId"></lz-dic-txt>
                	</template>
                </el-table-column>
                
            <el-table-column
                    prop="amount"
                    min-width="80"
                    v-bind:show-overflow-tooltip="true"
                    label="缴费金额"
                    align="center"
                    >
                </el-table-column>
            
            <el-table-column
                    prop="createTime"
                    min-width="110"
                    v-bind:show-overflow-tooltip="true"
                    label="签单时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{monthMinuteFormat(scope.row.createTime)}}</span>
                	</template>
            </el-table-column>
                
            <el-table-column
                    prop="fuzzyMobile"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="客户手机"
                    align="center"
                    >
                </el-table-column>
                
            <el-table-column
                    prop="startDate"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="服务开始时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{birthdayFormat(scope.row.startDate)}}</span>
                	</template>
                </el-table-column>
                
            <el-table-column
                    prop="endDate"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="服务结束时间"
                    align="center"
                    >
                    <template scope="scope">
                    	<span>{{birthdayFormat(scope.row.endDate)}}</span>
                	</template>
                </el-table-column>
                
            <el-table-column
                    prop="remark"
                    min-width="200"
                    v-bind:show-overflow-tooltip="true"
                    label="签单备注"
                    align="center"
                    >
                </el-table-column>
                
            <el-table-column
                    prop="fromInfo"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="来源渠道"
                    align="center"
                    >
                    <template scope="scope">
                    	<lz-dic-txt dic-type="RESOURCE_CHANNEL" :dic-code="scope.row.fromInfo"></lz-dic-txt>
                	</template>
                </el-table-column>
            
            <el-table-column
                    prop="submitCode"
                    min-width="100"
                    v-bind:show-overflow-tooltip="true"
                    label="微信记录"
                    align="center"
                    >
                    <template scope="scope">
                    	<a target="_blank" :href="scope.row.submitCode">{{weChatChatExist(scope.row.submitCode)}}</a>
                	</template>
                </el-table-column>
                
            <el-table-column
            		fixed="right"
                    label="操作"
                    width="100"
                    align="center">
                <template scope="scope">
                    <el-button-group size="small">
                        <el-button size="small" type="warning" @click="showEditDialog(scope.row.id)">编辑</el-button>
                        <el-button size="small" type="danger" @click="showRejectDialog(scope.row.id)">驳回</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
<!---------------------------数据表格 结束----------------------------------------------------------------------->
    <hr style="margin:0px ;"/>
<!---------------------------弹出编辑窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="editFormVisible">
        <el-form ref="editForm" :model="entity" :rules="rules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
        <el-row>
	    	<el-col :span="12">
		        <el-form-item label="客户姓名：" label-width="120px" prop="customerName">
		        	<el-input size="small" style="width:170px;" v-model="entity.customerName" placeholder="客户姓名" ></el-input>
		        </el-form-item>
	        </el-col>
			<el-col :span="12">
	        <el-form-item label="产品名称：" label-width="120px" prop="insuranceId">
	        	<lz-dic-select v-model="entity.insuranceId" dic-type="PRODUCT"></lz-dic-select>
	        </el-form-item>
	        </el-col>
	    	<el-col :span="12">
	        <el-form-item label="缴费金额：" label-width="120px" prop="amount">
	    			<el-input size="small" style="width:170px;" v-model="entity.amount" placeholder="缴费金额" ></el-input>
	        </el-form-item>
	        </el-col>
	        <el-col :span="12">
		    <el-form-item label="消息提交码：" label-width="120px" prop="submitCode">
		    	<el-input size="small" style="width:170px;" v-model="entity.submitCode" placeholder="签单消息提交码"  @blur="checkSubmitCode(entity.submitCode)"></el-input>
		    </el-form-item>
	    	</el-col>
	    	<el-col :span="12">
			<el-form-item label="服务开始日期：" label-width="120px" style="font-size: 13px;" prop="startDate">
				<el-date-picker type="date" size="small" placeholder="选择日期" @change="startDateFormat" v-model="entity.startDate"></el-date-picker>
			</el-form-item>
		    </el-col>
	        <el-col :span="12">
				<el-form-item label="服务结束日期：" label-width="120px" style="font-size: 13px;" prop="endDate">
					<el-date-picker type="date" size="small" placeholder="选择日期" @change="endDateFormat" v-model="entity.endDate"></el-date-picker>
				</el-form-item>
		    </el-col>
	    	<el-col :span="12">
			    <el-form-item label="审核日期：" label-width="120px" style="font-size: 13px;" prop="auditTime">
			    	<el-date-picker type="date" size="small" placeholder="选择日期" @change="dayFormat" v-model="entity.auditTime"></el-date-picker>
			    </el-form-item>
	        </el-col>
	    	<el-col :span="12">
			    <el-form-item label="业务员：" label-width="120px" style="font-size: 13px;" prop="salerId">
					<el-select
					 style="width:108px;"
				    v-model="entity.salerId"
				    filterable
				    remote
				    placeholder="修改归属"
				    :remote-method="selectSaler"
					:loading="loading">
						<el-option
							v-for="item in salerMap"
							:key="item.value"
							:label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
			    </el-form-item>
	        </el-col>
	    </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="editFormVisible = false">取 消</el-button>
            <el-button size="small" type="info"  @click="save">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出详情窗口 开始----------------------------------------------------------------------->
    <el-dialog title="详情" size="large" top="3%" :visible.sync="detailFormVisible">
    <el-row>
        <el-form ref="detailForm" :model="entity" label-position="left">
            <el-col :span="8">
		    	<el-form-item label="客户姓名：" >
                	<span>{{ customerEntity.name }}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="8">
		    	<el-form-item label="手机号：" >
                	<span>{{ customerEntity.showMobile }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="区域：" >
                	<span>{{ customerEntity.province }} - {{ customerEntity.city }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="年龄：" >
                	<el-input style="width:100px;" size="small" placeholder="请输入年龄" v-model="customerEntity.age" ></el-input>
                	<el-button style="margin-top:10px" size="small" type="info"  @click="saveDetail1">修改</el-button>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="性别：" >
                	<lz-dic-select style="width:100px;" v-model="customerEntity.sex" dic-type="SEX"></lz-dic-select>
                	<el-button style="margin-top:10px" size="small" type="info"  @click="saveDetail2">修改</el-button>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="合规：" >
                	<span>{{ customerEntity.contracterName }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="客服：" >
                	<span>{{ customerEntity.serverName }}</span>
            	</el-form-item>
        	</el-col>
        	<el-col :span="8">
		    	<el-form-item label="微信记录：" >
                	<a target="_blank" :href="entity.submitCode">{{weChatChatExist(customerEntity.submitCode)}}</a>
            	</el-form-item>
        	</el-col>
            <el-col :span="16">
		    	<el-form-item label="归属：" >
                	<span>{{ customerEntity.directorName}}-{{ customerEntity.managerName}}-{{ customerEntity.salerName}}</span>
            	</el-form-item>
        	</el-col>
            <el-col :span="24">
		    	<el-form-item label="商务部备注">
                	<el-input type="textarea" :rows="3" size="small" placeholder="商务备注" v-model="customerEntity.contracterRemark" :readonly="true"></el-input>
            	</el-form-item>
        	</el-col>
        </el-form>
        </el-row>
        <hr style="margin:10px ;"/>
        <el-row>
        <el-tabs v-model="activeName" type="border-card">
    		<el-tab-pane label="订单记录" name="apply1">
				<el-table height="178" :data="applyEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="40" align="center"></el-table-column>
					<el-table-column prop="createTime" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="签单时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{birthdayFormat(scope.row.createTime)}}</span>
                			</template>
					</el-table-column>
					<el-table-column prop="insuranceId" min-width="120" v-bind:show-overflow-tooltip="true" 
						label="产品名称" align="center">
							<template scope="scope">
								<lz-dic-txt dic-type="ALLPRODUCT" :dic-code="scope.row.insuranceId"></lz-dic-txt>
							</template>
						</el-table-column>
					<el-table-column prop="amount" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="缴费金额" align="center">
						<template scope="scope">
                    		<span>{{rmbFormat(scope.row.amount)}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="remark" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="签单备注" align="center">
						<template scope="scope">
                    		<span>{{scope.row.remark}}</span>
                		</template>
					</el-table-column>
					<el-table-column prop="belong" min-width="120" v-bind:show-overflow-tooltip="true" 
						label="市场部归属" align="center"></el-table-column>
					<el-table-column prop="startDate" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="服务开始日期" align="center" sortable>
							<template scope="scope">
                    			<span>{{birthdayFormat(scope.row.startDate)}}</span>
                			</template>
					</el-table-column>
					<el-table-column prop="endDate" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="服务结束日期" align="center" sortable>
							<template scope="scope">
                    			<span>{{birthdayFormat(scope.row.endDate)}}</span>
                			</template>
					</el-table-column>
				</el-table>
			</el-tab-pane>
			<el-tab-pane label="通话记录" name="record2">
				<el-table height="178" :data="salerRecordEntity" border ref="entityTable" stripe max-height="450px" empty-text="暂无数据" append="加载中..." :row-style="{'font-size':'13px'}" style="width: 100%" >
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column prop="serverName" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="业务员" align="center"></el-table-column>
					<el-table-column prop="createTime" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="拨打时间" align="center" sortable>
							<template scope="scope">
                    			<span>{{minuteFormat(scope.row.createTime)}}</span>
                			</template>
						</el-table-column>	
					<el-table-column prop="callFile" min-width="160" v-bind:show-overflow-tooltip="true" 
						label="录音文件" align="center" >
							<template scope="scope">
                    			<a :href="fptFormat(scope.row.callFile)">{{recordExist(scope.row.callFile)}}</a>
                			</template>
						</el-table-column>	
					<el-table-column prop="timeLength" min-width="100" v-bind:show-overflow-tooltip="true" 
						label="通话时长" align="center" >
							<template scope="scope">
                    			<span>{{timerFormat(scope.row.timeLength)}}</span>
                			</template>
						</el-table-column>
					<el-table-column prop="serverRecord" min-width="320" v-bind:show-overflow-tooltip="true" 
						label="通话内容" align="center"></el-table-column>
				</el-table>
			</el-tab-pane>
  		</el-tabs>
  		</el-row>
    </el-dialog>
<!---------------------------弹出详情窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出资源调配窗口 开始----------------------------------------------------------------------->
    <el-dialog title="商务部" :visible.sync="allotVisible">
          <el-row>
		  	<el-col :span="12">
		        <el-card class="box-card">
		           	<el-tree ref="userTree" :data="userTreeData" @node-click="treeNodeClick"></el-tree>
		        </el-card>
		    </el-col>
		    <el-col :span="12">
		        <el-card class="box-card">
		            <el-row>
                    <el-table id="12324"
                              :data="deptPageData.data"
                              ref="entityTable"
                              max-height="450"
                              :row-key="key"
                              empty-text="-"
                              append="加载中..."
                              :row-style="{'font-size':'13px'}"
                              style="width: 100%"
                              ref="singleTable"
                              highlight-current-row
                              @current-change="allotCurrentChange">
                        <el-table-column v-for="item in tableColumns"
                                         :prop="item.prop"
                                         min-width="100"
                                         v-bind:show-overflow-tooltip="true"
                                         :label="item.label">
                        </el-table-column>
                    </el-table>
                </el-row>
		        </el-card>
		    </el-col>
		    </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="allotVisible = false">取 消</el-button>
            <el-button size="small" type="info" @click="allot">分配</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出编辑窗口 结束----------------------------------------------------------------------->
<!---------------------------弹出审核驳回窗口 开始----------------------------------------------------------------------->
    <el-dialog :title="entity.id?'编辑':'新增'" :visible.sync="rejectFormVisible">
        <el-form ref="rejectForm" :model="entity" :rules="rejectRules">
        <el-input size="small" v-model="entity.id" v-show="false" ></el-input>
    	<el-col :span="24">
        <el-form-item label="客户姓名" label-width="100px">
                	<span>{{ entity.customerName }}</span>
        </el-form-item>
        </el-col>
    	<el-col :span="24">
        <el-form-item label="审核驳回原因" label-width="100px" prop="auditReason">
    			<el-input type="textarea" :rows="6" size="small" placeholder="审核驳回原因" v-model="entity.auditReason" ></el-input>
        </el-form-item>
        </el-col>
        
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button style="margin-top:10px" size="small" @click="rejectFormVisible = false">取 消</el-button>
            <el-button style="margin-top:10px" size="small" type="info"  @click="shbh">保 存</el-button>
        </div>
    </el-dialog>
<!---------------------------弹出审核驳回窗口 结束----------------------------------------------------------------------->
</div>
</body>
<script src="/business/open/audit/signApply.js"></script>
</html>